<%= form_with(model: bill, local: true, class: "form_body") do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :table_id, id: :bill_table_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :product_id, id: :bill_product_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :quantity, id: :bill_quantity, value: 1 %>
  </div>

  <div class="actions">
    <%= form.submit 'Send', class: "submit_button" %>
  </div>
<% end %>
